# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform/backend.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Node / front
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Local
*.log
/tmp/
